{
    "HOSTS": {
        "HOST1": ["REGEX_TO_MATCH", "STRING_TO_ADD"] -> if the regex matches, appends the string to the provided hostname
        "HOST2": ["REGEX_TO_MATCH", "IP_ADDR"] -> if the regex matches, maps the provided hostname to an address
    },
    "CELERY": {
        "broker_url": "redis://localhost:6379",
        "result_backend": "redis://localhost:6379",
        "task_track_started": true
    },
    "LOG_DIRECTORY": "",
    "SECRET_KEY": "",
    "JWT_SECRET_KEY": "",
    "JWT_ACCESS_LIFESPAN": {"minutes": 10},
    "JWT_REFRESH_LIFESPAN": {"hours": 1},
    "SQLALCHEMY_DATABASE_URI": "sqlite:///tmp/pymap.db",
    "SQLALCHEMY_TRACK_MODIFICATIONS": false,
    "TESTING": true,
    "DEBUG": true,
    "HEADLESS": false
}