{
    "HOSTS": {
        "HOST1": ["REGEX_TO_MATCH", "STRING_TO_ADD"] -> if the regex matches, appends the string to the provided hostname
        "HOST2": ["REGEX_TO_MATCH", "IP_ADDR"] -> if the regex matches, maps the provided hostname to an address
    },
    "SQLALCHEMY_DATABASE_URI": "sqlite:////pymap.db",
    "SQLALCHEMY_TRACK_MODIFICATIONS": false,
    "TESTING": false,
    "DEBUG": false,
    "HEADLESS": false
}