# Python
.venv
venv
sync*.sh
test*.txt
__pycache__

# Javascript
## dependencies
node_modules
/.pnp
.pnp.js
cache

## testing
coverage
htmlcov
.coverage

## production
build

## misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Additional 
imapsync
*.txt
*.db
.vscode
*.log
*.deb
tmux.sh
dump.rdb
sync_tests
config.json
config.dev.json
davmail*.properties