<!-- user_account.html -->

{% extends 'structure/base.html' %}
{% block title %}User Account{% endblock %}

{% block content %}
<div class="container-fluid mt-5" style="width: 90%;">
    <h2>User Account</h2>
    <hr>
    <div class="d-flex justify-content-evenly">
        <div class="card" style="width: 45%;">
            <div class="card-header text-center">
                <h5 class="card-title mb-0">User Information</h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Username:</strong> {{ user.username }}</li>
                    <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
                    <li class="list-group-item"><strong>First name:</strong> {{ user.first_name }}</li>
                    <li class="list-group-item"><strong>Last name:</strong> {{ user.last_name }}</li>
                    <li class="list-group-item"><strong>Staff:</strong> {{ user.is_staff }}</li>
                    <li class="list-group-item"><strong>Last login:</strong> {{ user.last_login }}</li>
                    <li class="list-group-item"><strong>Creation Date:</strong> {{ user.date_joined }}</li>
                </ul>
            </div>
            <div class="card-footer">
                <a href="{% url 'password-change' %}" class="btn btn-primary">Change Password</a>
                <a href="{% url 'migrator:update-account' %}" class="btn btn-primary">Update Information</a>
            </div>
        </div>
        <div class="card" style="width: 45%;">
            <div class="card-header text-center">
                <h5 class="card-title mb-0">User Preferences</h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Replacement patterns:</strong> <pre>{{ preferences.host_patterns | pprint }}</pre></li>
                </ul>
            </div>
            <div class="card-footer">
                <a href="{% url 'migrator:update-preferences' %}" class="btn btn-primary">Update</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
