{% extends 'structure/base.html' %}

{% block content %}
<div class="px-5 pt-5 d-flex justify-content-around text-center w-100">
    {% if redirecting %}
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    {% endif %}


    <form method="post" action="{% url 'sync' %}" class="w-100">
        {% csrf_token %}

        <div class="mb-3 w-25 d-inline-flex">
            <label for="{{ form.source.id_for_label }}" class="form-label">Source</label>
            {{form.source}}
        </div>
        
        <div class="mb-3 w-25 d-inline-flex">
            <label for="{{ form.destination.id_for_label }}" class="form-label">Destination</label>
            {{form.destination}}
        </div>
        
        <div class="mb-3 flex-grow-1">
            <label for="{{ form.input_tex.id_for_label }}" class="form-label">Input Text</label>
            {{form.input_text}}
        </div>
        
        <div class="mb-3 d-inline-flex">
            <label for="{{ form.additional_arguments.id_for_label }}" class="form-label">Additional Arguments</label>
            {{form.additional_arguments}}
        </div>
        
        <div class="mb-3 d-inline form-check">
            <label for="{{ form.dry_run.id_for_label }}" class="form-check-label">Dry Run</label>
            {{form.dry_run}}
        </div>

        <div class="d-flex justify-content-between align-items-center" style="width: 50vw; margin: auto;">
            <button type="submit" class="btn btn-primary">Start Sync</button>
        </div>
    </form>
</div>
{% endblock %}
