{% extends 'structure/base.html' %}

{% block script %}
    {% include 'structure/datatables.html' %}
{% endblock %}

{% block content %}

<style>
    .copy-btn {
            cursor: pointer;
            color: blue;
            text-decoration: underline;
            display: inline;
            padding: 5px 8px;
            border-radius: 50px;
            margin-left: 10px;
        }
        .copy-btn:hover {
            background-color: lightblue;
        }
</style>

<div class="container mt-3 pb-5">
    <h2 id="task-id" class="w-50 d-inline">{{ task_id }}</h2> <i id="copy-btn" class="copy-btn bi bi-clipboard"></i>
    <table id="taskDetails" class="table">
        <thead>
            <tr>
                <th>Logfile</th>
                <th>Start time</th>
                <th>End Time</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <!-- Dynamic data goes here -->
        </tbody>
    </table>
</div>

<script>
    var taskDetails;
    
    // Datatable row onClick
    $(document).on('click','#taskDetails tr',function(e){
        var data = taskDetails.row(this).data();
        if (data) {
            var log_file = data['log_file'];
            var task_id = "{{ task_id }}"
            var travel = `/tasks/${task_id}/${log_file}`
            window.location.href = travel;
        }
    });
    
    document.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById('copy-btn').addEventListener('click', function() {
                var taskId = $('#task-id').text();

                // Use the Clipboard API to copy text
                window.navigator.clipboard.writeText(taskId).then(function() {
                    // Optionally, show a message or provide feedback to the user
                    alert('Copied task ID: ' + taskId);
                }).catch(function(error) {
                    console.error('Failed to copy text: ', error);
                });
            });
        });

    $(document).ready(function () {
        // Function to initialize the DataTable with server-side processing
        const initializeDataTable = () => {
            taskDetails = $('#taskDetails').DataTable({
                serverSide: true,
                processing: true,
                searching: true,
                ordering: true,
                pageLength: 15,
                paging: true,
                search: {
                    return: true
                },
                order: [[3, 'asc']],
                ajax: {
                    url: '/api/tasks/'+'{{ task_id }}',
                    type: 'GET',
                },
                columns: [
                {data: 'log_file', width: '900px'},
                {data: 'start_time', width: '250px'},
                {data: 'end_time', width: '250px'},
                {data: 'status', width: '200px'},
                ]
            });
        };
        
        // Run the initializeDataTable function on document load
        initializeDataTable();
    });
</script>

{% endblock %}
