{% extends "base.html" %}

{% block title %}Pymap - Jobs{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <h1 class="title">Jobs</h1>
            </div>
            <div class="level-right">
                <a href="{% url 'pymap:submit_job' %}" class="button is-primary">
                    New Job
                </a>
            </div>
        </div>

        {% if jobs %}
        <table class="table is-fullwidth is-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Tasks</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>
                    <td>
                        <a href="{% url 'pymap:job_detail' job.id %}">
                            {{ job.id }}
                        </a>
                    </td>
                    <td>{{ job.source_host }}</td>
                    <td>{{ job.destination_host }}</td>
                    <td>{{ job.task_count }}</td>
                    <td>{{ job.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No jobs yet.</p>
        {% endif %}
    </div>
</section>
{% endblock %}