{% extends "base.html" %}

{% block title %}Pymap - Jobs{% endblock %}

{% block content %}
<div class="container">

    <div class="level">
        <div class="level-left">
            <h1 class="title">Migration Jobs</h1>
        </div>
        <div>
            <a href="{% url 'pymap:job-create' %}" class="button is-info">
                <span class="icon"><i class="fas fa-plus"></i></span>
                <span>New Job</span>
            </a>
        </div>
    </div>

    {% include "components/list/list.html" %}
</div>
{% endblock %}
