{% extends "pymap/base.html" %}
{% load static %}

{% block title %}Pymap - Jobs{% endblock %}

{% block content %}
<div class="container">

    <div class="level">
        <div class="level-left">
            <h1 class="title">
                <img src="{% static 'pymap/pymap.png' %}" alt="Pymap" style="height:2.5rem; margin-right:0.75rem; vertical-align:middle;">
                Migration Jobs
            </h1>
        </div>
        <div>
            <a href="{% url 'pymap:job-create' %}" class="button is-info">
                <span>New Job</span>
            </a>
        </div>
    </div>

    {% include "components/list/list.html" %}
</div>
{% endblock %}
